<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      font-size: 48px;
    }
  </style>
</head>
<body>
<h2 th:text="${'Hi, ' + email + '!'}"></h2>
<h3> Please active your Booking </h3>
<ul>
  <li>

<!--    <a href=`http://localhost:3000/active/${email}`><h3>Click here to active!</h3></a>-->
    <a th:href="${'http://localhost:3000/active?email=' + email+'&id='+id}"><h3>Click here to active!</h3></a>
  </li>
</ul>

<h3>Please active your booking as soon as we delete your booking.</h3>
<h3>Your have 3 days to active.</h3>
</body>
</html>

